@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: rgb(76, 86, 106);
}

.h1-container {
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-container-intro {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects {
    height: 80vh;
    width: 100vw;
    display: flex;
    margin: 50px;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    text-align: left !important;
    font-family: 'Rubik';
    font-weight: 400;
    line-height: 40px;
}

.projects > li {
    font-size: x-large;
}

.h1-container-intro h1.hey {
    opacity: 0;
    animation: appear 2s ease 0.5s 1, disappear 2s ease 10s;
    animation-fill-mode: forwards;
}

.h1-container-intro h1.name {
    opacity: 0;
    animation: appear 2s ease 2.5s 1, disappear 2s ease 10s;
    animation-fill-mode: forwards;
    clear: left;
}

.h1-container-intro h1.reason {
    opacity: 0;
    animation: appear 2s ease 5s 1, disappear 2s ease 10s;
    animation-fill-mode: forwards;
    clear: left;
}

.h1-container-intro h1.hopes {
    opacity: 0;
    animation: appear 2s ease 7.5s 1, disappear 2s ease 10s;
    animation-fill-mode: forwards;
    clear: left;
}

.content {
    margin: 20px;
}

h1 {
    font-size: 50px;
    font-family: 'Rubik';
    font-weight: 600;
}

p {
    font-family: 'Rubik';
    font-weight: 400;
}

.about-text {
    height: 30vh;
    width: 50vw;
    font-size: x-large;
    line-height: 40px;
}

.about-text-2 {
    height: 30vh;
    width: 95vw;
    font-size: x-large;
    line-height: 40px;
}

.image-1 {
    float: right;
    height: 30vh;
    width: 50vw;
}

.image-2 {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
}

img#second {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, -50%);
}

nav {
    background-color: #fff;
    color: rgb(76, 86, 106);
    height: 100px;
    position: relative;
}

nav > div > ul {
    align-items: center;
    height: 100px;
    position: absolute;
    right: 100px;
    top: 0;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 20px;
    list-style-type: none;
}

 

nav > div > ul > a > li {
    color: rgb(76, 86, 106);
    font-family: 'Rubik';
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

nav > .logo {
    position: absolute;
    top: 50%;
    left: -50px;
    width: 230px;
    color: rgb(76, 86, 106);
    font-family: 'Rubik';
    font-weight: 600;
    transform: translateY(-50%);
}

 

nav > .logo > span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

 

nav > div > ul > a:not(#projects, #contact) {
    width: 55px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s ease;
}

nav #projects, nav #contact {
    width: 72px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s ease;
}

nav > div > ul > a:hover {
    background-color: rgb(235, 228, 222);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.prompt {
    text-align: center;
    opacity: 0;
    animation: appear 2s ease 13s 1;
    animation-fill-mode: forwards;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} 

.btn-prompt:not(#projectsbtn, #contactbtn) {
    width: 55px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s ease;
    color: rgb(76, 86, 106);
    border: none;
    background-color: #fff;
}

#projectsbtn, #contactbtn {
    width: 72px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s ease;
    color: rgb(76, 86, 106);
    border: none;
    background-color: #fff;
}

.btn-prompt:hover {
    background-color: rgb(235, 228, 222) !important;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

#projectsbtn:hover, #contactbtn:hover {
    background-color: rgb(235, 228, 222) !important;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

nav > div {
    display: inline-block;
}

a {
    text-decoration: none;
    color: rgb(76, 86, 106);
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}